DEBUG=NO
PORT=8989
BASE_URL=http://localhost:8989
CORS_ALLOWEDS=http://localhost:8989,http://127.0.0.1:8989
LOG_DATA_DIR=data

LOG_VIEWER_USERNAME=admin
LOG_VIEWER_PASSWORD=1234
LOG_VIEWER_TOTP_SECRET=secret
LOG_VIEWER_SESSION_SECRET=secret
LOG_VIEWER_SESSION_COOKIE=slv_session
LOG_VIEWER_COOKIE_SECURE=YES
LOG_VIEWER_SESSION_TTL_SECONDS=28800
LOG_VIEWER_LOGO_URL=x.co/logo.png
LOG_VIEWER_FAVICON_URL=x.co/favicon.ico
LOG_VIEWER_CLIENT_API_TIMEOUT_SECONDS=180
LOG_VIEWER_SERVER_KEEP_ALIVE_SECONDS=120
LOG_VIEWER_STREAM_INTERVAL_SECONDS=5

LOG_VIEWER_MAX_RESULTS=500
LOG_VIEWER_MAX_SCAN_LINES=12000
LOG_VIEWER_MAX_LINE_LENGTH=20000
LOG_VIEWER_CONTEXT_LINES=30
