DEBUG=NO
PORT=8989
BASE_URL=http://localhost:8989
LOG_DATA_DIR=data

LOG_VIEWER_USERNAME=admin
LOG_VIEWER_PASSWORD=1234
LOG_VIEWER_TOTP_SECRET=secret
LOG_VIEWER_SESSION_SECRET=secret
LOG_VIEWER_COOKIE_SECURE=YES
LOG_VIEWER_SESSION_TTL_SECONDS=28800
